POSTGRES_DB=ipl_warehouse
POSTGRES_USER=ipl_admin
POSTGRES_PASSWORD=change_me

MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=change_me

SUPERSET_SECRET_KEY=change_me

AIRFLOW_UID=50000

FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=8000